.uses-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1000px;
    width: auto;
    box-sizing: border-box;
  }
  
  .uses-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: flex-start;
    font-weight: bold;
  }
  
  .item-title {
    font-weight: bold;
  }
  
  .uses-content {
    color: #666;
    margin: auto;
    text-align: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .dark-mode .uses-content {
    color: #fff;
  }
  